{% extends "layout.html" %}
{% block content %}
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>ServieRequestId</th>
                    <th>request_type</th>
                    <th>Instance-Name</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    <tr>
                        <td>{{ item.service_request_id }}</td>
                        <td>{{ item.request_type }}</td>
                        <td>{{ item.instanceName }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}